<div id="device-health-status"
     hx-get="{% url 'device_management' device.id %}"
     hx-trigger="every 5s"
     hx-swap="outerHTML">
    {% if device.latest_health_reading %}
      <p>Device RSSI: {{ device.latest_health_reading.rssi }}</p>
      <p>Device uptime: {{ device.latest_health_reading.uptime }}</p>
      <p>Heap: {{ device.latest_health_reading.heap }}</p>
      <p>Min heap: {{ device.latest_health_reading.min_heap }}</p>
      <p>Last received: {{ device.latest_health_reading.received_at }}</p>
    {% else %}
      <p>Device RSSI: N/A</p>
      <p>Device uptime: N/A</p>
      <p>Heap: N/A</p>
      <p>Min heap: N/A</p>
      <p>Last received: N/A</p>
    {% endif %}
    {% if device.device_status %}
      <p>Status: {{ device.device_status.is_online|yesno:"Online,Offline" }}</p>
      <p>Last status update: {{ device.device_status.received_at }}</p>
    {% else %}
      <p>Status: N/A</p>
      <p>Last status update: N/A</p>
    {% endif %}
</div>