{% extends "iaq/base.html" %}

{% block title %}IAQ - Your devices{% endblock %}

{% block content %}
    <p>Hello, you are at device management.</p>
    <hr>
    <p>Device RSSI: {{ device.latest_health_reading.rssi|default:"N/A" }}</p>
    <p>Device uptime: {{ device.latest_health_reading.uptime|default:"N/A" }}</p>
    <p>Heap: {{ device.latest_health_reading.heap|default:"N/A" }}</p>
    <p>Min heap: {{ device.latest_health_reading.min_heap|default:"N/A" }}</p>
    <p>Last received: {{ device.latest_health_reading.received_at|default:"N/A" }}</p>
    <p>Firmware version: {{ device.device_info.firmware_version|default:"N/A" }}</p>
    <p>Reset reason: {{ device.device_info.reset_reason|default:"N/A" }}</p>
    <p>Status: {{ device.device_status.is_online|yesno:"Online,Offline" }}</p>
    <p>Last status update: {{ device.device_status.received_at|default:"N/A" }}</p>
    <p>Sensor mode: {{ device.sensor_info.mode|default:"N/A" }}</p>
    <hr>
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'reboot_device' device.id %}'">Reboot device</button>

{% endblock %}
