{% extends "iaq/base.html" %}

{% block title %}IAQ - Your devices{% endblock %}

{% block content %}
    <p>Hello, these are your devices.</p>
    <hr>
    {% for device in device_list %}
      <p>Device id: {{device.id}}</p>
      <p>Device name: {{ device.name }}</p>
      {% if device.latest_sensor_reading %}
        <p>Temperature: {{ device.latest_sensor_reading.temperature }} °C<br></p>
        <p>Humidity: {{ device.latest_sensor_reading.humidity }} %<br></p>
        <p>IAQ: {{ device.latest_sensor_reading.iaq }}<br></p>
        <p>Last updated: {{ device.latest_sensor_reading.timestamp }}</p>
      {% else %}
        <p>No readings yet.</p>
      {% endif %}
      {% if device.device_info %}
        <p>Firmware version: {{ device.device_info.firmware_version }}</p>
      {% else %}
        <p>No device info yet.</p>
      {% endif %}
      <button type="button" class="btn btn-primary" onclick="location.href='{% url 'dashboard' device.id %}'">Dashboard</button>
      <button type="button" class="btn btn-primary" onclick="location.href='{% url 'history' device.id %}'">History</button>
      <hr>
    {% endfor %}
{% endblock %}